name: docker-pr-and-release

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 8 7 * 2"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Get the old image version
        run: echo "AWS_SAM_CLI_VERSION_OLD=$(curl -s -l https://api.github.com/repos/ZPascal/aws-sam-cli-container/releases/latest | jq .tag_name | sed s/\"//g | sed s/v//g)" >>${GITHUB_ENV}

      - name: Get the latest AWS SAM CLI version
        run: echo "AWS_SAM_CLI_VERSION=$(curl -s -l https://api.github.com/repos/aws/aws-sam-cli/releases/latest | jq .tag_name | sed s/\"//g | sed s/v//g)" >>${GITHUB_ENV}

      - name: Extract the image name for the Pip case and init meta elements
        run: |
          echo "IMAGE_NAME=`echo ${{github.repository}} | tr '[:upper:]' '[:lower:]'`" >>${GITHUB_ENV}
          echo "CURRENT_DATE=`echo $(date +'%Y-%m-%d')`" >>${GITHUB_ENV}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Update metadata labels for Docker (src)
        run: echo DOCKER_METADATA_LABELS_OUTPUT_JSON=$(echo '${{ env.DOCKER_METADATA_OUTPUT_JSON }}' | jq --arg version "${{ env.AWS_SAM_CLI_VERSION }}" '.labels."org.opencontainers.image.version"=$version' | jq --arg description "AWS SAM CLI build from source inside an Distroless container" '.labels."org.opencontainers.image.description"=$description' | jq .labels ) >> ${GITHUB_ENV}

      - name: Build and push Docker image (source version)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: aws-sam-cli-src.dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }} # Never push on pull-request
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:v${{ env.AWS_SAM_CLI_VERSION }},${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ env.DOCKER_METADATA_LABELS_OUTPUT_JSON }}
          build-args: |
            "AWS_SAM_CLI_VERSION=${{ env.AWS_SAM_CLI_VERSION }}"
            "CURRENT_DATE=${{ env.CURRENT_DATE }}"
            
      - name: Update metadata labels for Docker (pip)
        id: prepared-meta-labels-pip
        run: echo DOCKER_METADATA_LABELS_OUTPUT_JSON=$(echo '${{ env.DOCKER_METADATA_OUTPUT_JSON }}' | jq --arg version "$AWS_SAM_CLI_VERSION" '.labels."org.opencontainers.image.version"=$version' | jq --arg description "AWS SAM CLI installation from pip inside an Alpine container" '.labels."org.opencontainers.image.description"=$description' | jq .labels ) >> ${GITHUB_ENV}

      - name: Build and push Docker image (pip version)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: aws-sam-cli-pip.dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }} # Never push on pull-request
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-pip:v${{ env.AWS_SAM_CLI_VERSION }},${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-pip:latest
          labels: ${{ env.DOCKER_METADATA_LABELS_OUTPUT_JSON }}
          build-args: |
            "AWS_SAM_CLI_VERSION=${{ env.AWS_SAM_CLI_VERSION }}"
            "CURRENT_DATE=${{ env.CURRENT_DATE }}"

      - name: Adapt the documentation
        if: ${{ env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }}
        run: sed -i "s/${AWS_SAM_CLI_VERSION_OLD}/${AWS_SAM_CLI_VERSION}/g" README.md

      - name: Commit files
        if: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }}
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add README.md
          git commit -a -m "feat: Update the SAM CLI release ${{ env.AWS_SAM_CLI_VERSION }} version documentation"
          git tag -a "v${{ env.AWS_SAM_CLI_VERSION }}" HEAD -m "Create the new SAM CLI release v${{ env.AWS_SAM_CLI_VERSION }}"

      - name: Push changes to the branch
        uses: ad-m/github-push-action@master
        if: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }}
        with:
          branch: update-the-sam-cli-version
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true
          force: true

      - name: Create a PR
        if: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }}
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT_TOKEN }}
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          title: "Update the AWS SAM CLI version"
          body: "Update the AWS SAM CLI version. The PR is automatically generated."
          labels: "version-bump"
          reviewers: ZPascal
          branch: update-the-sam-cli-version

      - name: Create new release
        uses: softprops/action-gh-release@v2
        if: ${{ github.event_name != 'pull_request' && env.AWS_SAM_CLI_VERSION_OLD != env.AWS_SAM_CLI_VERSION }}
        with:
          tag_name: "v${{ env.AWS_SAM_CLI_VERSION }}"
          token: ${{ secrets.GITHUB_TOKEN }}
